<div class="container-class">
  <div class="text-searh-info-class">
    @if (books.length > 0) {
      <!-- Title -->
      <div>
        <h1>{{ title }}</h1>
      </div>

      <!-- Info/Sorting bar -->
      <div class="product-box-class-control-bar-class">
        <!-- TODO: Implement the translations -->
        <p>
          Mostrando
          {{ searchMetadata.currentPage }} - {{ searchMetadata.totalPages }} of
          {{ searchMetadata.totalProducts }} results from
          <span class="search-words-class">{{ searchMetadata.searchString }}</span>
        </p>

        <!--Sorting bar  -->
        <div class="sorting-bar-class">
          <mat-form-field appearance="outline">
            <mat-select
            (selectionChange)="changeSorting()"
              apareance
              [(ngModel)]="sortingSelection"
              [ngModelOptions]="{ standalone: true }"
            >
              @for (option of options; track $index) {
                <mat-option [value]="option.value">{{ option.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Grid -->
      <div class="products-box-class">
        @for (book of books; track $index) {
          <cl-product-card [book]="book"></cl-product-card>
        }
      </div>
    } @else {
      <p>Sorry we couldn't find what you're looking for</p>
    }
  </div>
</div>
