<!--TODO Move this to a new component-->
<search-bar (searchBarValueEmitter)="search($event)"></search-bar>
<category-menu [dataSource]="categoryTreeDataSource"></category-menu>

  <cl-category-menu
    class="category-menu-class"
    [dataSource]="(categoryTreeDataSource | async) ?? []"
  ></cl-category-menu>
  <cl-products-grid
    class="products-grid-class"
    [books]="(books | async) ?? []"
    [searchMetadata]="
      (fadaceService.metadata$ | async) ?? {
        totalProducts: 0,
        currentPage: 0,
        totalPages: 0,
        searchString: '',
      }
    "
  ></cl-products-grid>
</div>
<button (click)="logOut()">LOG OUT</button>
