<!--TODO Move this to a new component-->
<div class="dashboard-grid-class">
  <cl-search-bar class="search-bar-class" (searchBarValueEmitter)="search($event)"></cl-search-bar>

  <cl-category-menu
    class="category-menu-class"
    [dataSource]="categoryTreeDataSource"
  ></cl-category-menu>
  <cl-products-grid
    class="products-grid-class"
    [books]="(books | async) ?? []"
    [searchMetadata]="
      (fadaceService.metadata$ | async) ?? {
        totalProducts: 0,
        currentPage: 0,
        totalPages: 0,
        searchString: '',
      }
    "
  ></cl-products-grid>
</div>

<button (click)="logOut()">LOG OUT</button>
