<!--TODO Move this to a new component-->
<div class="dashboard-page-class">
  <div class="side-menu-class">
    <!-- search bar -->
    <cl-search-bar
      class="search-bar-class"
      (searchBarValueEmitter)="searchBarUpdate($event)"
    ></cl-search-bar>
    <!-- Category Menu -->
    <cl-category-menu
      class="category-menu-class"
      [dataSource]="categoryTreeDataSource"
    ></cl-category-menu>
  </div>
  <!-- Grid -->
  <cl-products-grid
    class="products-grid-class"
    [options]="gridOptions"
    [title]="gridTitle"
    [books]="(books | async) ?? []"
    [searchMetadata]="
      (fadaceService.metadata$ | async) ?? {
        totalProducts: 0,
        currentPage: 0,
        totalPages: 0,
        searchString: '',
      }
    "
    (sortingChangeEmitter)="sortingUpdate($event)"
  ></cl-products-grid>
</div>

<button (click)="logOut()">LOG OUT</button>
