@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
$primary: #560e12;
$secondary: #5e171b;
$white: #ffffff;

:root {
 @include mat.select-overrides((
  panel-background-color: $white
 ))
}

